.container {
  margin-top: 24px;
}

.chart-cell {
  width: 260px;
}

.map-modal-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.map-modal-body > div {
  width: 20vw;
  padding: 8px;
}